@using Shop.Models
@model RegisterViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mash Able Light</title>
    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Phoenixcoded">
    <meta name="keywords" content=", Flat ui, Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="Phoenixcoded">
    <!-- Favicon icon -->
    <title>Register</title>
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    @Styles.Render("~/assets/css")


</head>
<body class="fix-menu">
    <section class="login p-fixed d-flex text-center bg-primary common-img-bg">
        <!-- Container-fluid starts -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Authentication card start -->
                    <div class="login-card card-block auth-body">
                        @*<form class="md-float-material">*@
                        <div class="auth-box">
                            <div class="row m-b-20">
                                <div class="col-md-12">
                                    <h3 class="text-center txt-primary">Register Account</h3>
                                </div>
                            </div>

                            @*<div class="row m-b-20">
                                    <div class="col-md-6">
                                        <button class="btn btn-facebook m-b-20"><i class="icofont icofont-social-facebook"></i>Sign in with facebook</button>
                                    </div>
                                    <div class="col-md-6">
                                        <button class="btn btn-twitter m-b-20"><i class="icofont icofont-social-twitter"></i>Sign in with twitter</button>
                                    </div>
                                </div>*@
                            <section id="loginForm">
                                <p class="text-inverse b-b-default text-left p-b-5">Account registration information</p>


                                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "md-float-material", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="input-group">
                                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Username" })
                                        <span class="md-line"></span>
                                    </div>
                                    <div class="input-group">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                                        <span class="md-line"></span>
                                    </div>
                                    <div class="input-group">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                                        <span class="md-line"></span>
                                    </div>
                                    <div class="input-group">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                                        <span class="md-line"></span>
                                    </div>
                                    <div class="input-group">
                                        @*@Html.TextBoxFor(m => m.UserRoles, new { @class = "form-control", @placeholder = "User Roles", @value="Customers"  })*@
                                        <input hidden id="UserRoles" name="UserRoles" value="Customers" />
                                        <span class="md-line"></span>
                                    </div>
                                    <div class="row m-t-30">
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">LOGIN</button>
                                        </div>
                                    </div>
                                }
                            </section>
                        </div>
                        @*</form>*@
                        <!-- end of form -->
                    </div>
                    <!-- Authentication card end -->
                </div>
                <!-- end of col-sm-12 -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of container-fluid -->
    </section>
    @Html.Hidden("Login", ViewData["Login"])
    @Scripts.Render("~/asset/page/login/js")
</body>

</html>
