@model Shop.Models.Warehouse

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Warehouse</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.ProductId, "ProductId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.DropDownList("ProductId", null, htmlAttributes: new { @class = "form-control" })*@
            @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Size, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Size, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Size, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Color, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select>
                <option value="">Highlight</option>
                <option value="#000000" style="background-color: Black;color: #FFFFFF;">Black</option>
                <option value="#808080" style="background-color: Gray;">Gray</option>
                <option value="#A9A9A9" style="background-color: DarkGray;">DarkGray</option>
                <option value="#D3D3D3" style="background-color: LightGrey;">LightGray</option>
                <option value="#FFFFFF" style="background-color: White;">White</option>
                <option value="#7FFFD4" style="background-color: Aquamarine;">Aquamarine</option>
                <option value="#0000FF" style="background-color: Blue;">Blue</option>
                <option value="#000080" style="background-color: Navy;color: #FFFFFF;">Navy</option>
                <option value="#800080" style="background-color: Purple;color: #FFFFFF;">Purple</option>
                <option value="#FF1493" style="background-color: DeepPink;">DeepPink</option>
                <option value="#EE82EE" style="background-color: Violet;">Violet</option>
                <option value="#FFC0CB" style="background-color: Pink;">Pink</option>
                <option value="#006400" style="background-color: DarkGreen;color: #FFFFFF;">DarkGreen</option>
                <option value="#008000" style="background-color: Green;color: #FFFFFF;">Green</option>
                <option value="#9ACD32" style="background-color: YellowGreen;">YellowGreen</option>
                <option value="#FFFF00" style="background-color: Yellow;">Yellow</option>
                <option value="#FFA500" style="background-color: Orange;">Orange</option>
                <option value="#FF0000" style="background-color: Red;">Red</option>
                <option value="#A52A2A" style="background-color: Brown;">Brown</option>
                <option value="#DEB887" style="background-color: BurlyWood;">BurlyWood</option>
                <option value="#F5F5DC" style="background-color: Beige;">Beige</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.InputPrice, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.InputPrice, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.InputPrice, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NumberOfImport, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NumberOfImport, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NumberOfImport, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NumberOfRemaining, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NumberOfRemaining, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NumberOfRemaining, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DateCreate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DateCreate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DateCreate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section JavaScript {
    @Scripts.Render("~/bundles/jqueryval")
}
