@model Shop.Models.Warehouse
@{
    ViewBag.Title = "Warehouse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Css {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" />
    <style>
        .select2-container--default .select2-selection--single {
            background-color: #fff;
            border: 1px solid rgba(0,0,0,.15);
            border-radius: 2px;
            border-width: 2px;
            height: 37px;
        }

            .select2-container--default .select2-selection--single .select2-selection__rendered {
                height: 33px;
                line-height: 17px;
                background-color: #eceeef;
            }
    </style>
}
@section JavaScript {
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/assets/page/warehouse/js")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.full.min.js"></script>

}
<div class="row">
    <div class="col-sm-12">
        <!-- Tab variant tab card start -->
        <div class="card">
            <div class="card-header">
                <h5>Warehouse</h5>
                <div class="card-header-right">
                    <i class="icofont icofont-refresh"></i>
                </div>
            </div>
            <div class="card-block tab-icon">
                <!-- Row start -->
                <div class="row">
                    <div class="col-lg-12 col-xl-12">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs md-tabs " role="tablist">
                            <li class="nav-item" style="width:50%">
                                <a class="nav-link active" data-toggle="tab" href="#UpdatNumberOfProduct" role="tab"><i class="ti-pencil-alt"></i><h5>Insert or update number of product</h5></a>
                                <div class="slide" style="width:50%"></div>
                            </li>
                            <li class="nav-item" style="width:50%">
                                <a class="nav-link" data-toggle="tab" href="#ListNumberProduct" role="tab"><i class="ti-menu-alt"></i><h5>List number of product</h5></a>
                                <div class="slide" style="width:50%"></div>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content card-block">
                            <div class="tab-pane active" id="UpdatNumberOfProduct" role="tabpanel">
                                <div class="col-sm-8" style="margin:auto">
                                    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "myFrom", @class = "validateDontSubmit" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Gender</label>
                                            <div class="col-sm-8">
                                                <div class="form-radio">
                                                    <div id="GenderRadio" class="group-add-on">
                                                        <div class="radio radiofill radio-inline">
                                                            <label>
                                                                <input a id="Male" value="1" type="radio" name="radio" checked=""><i class="helper"></i> Male
                                                            </label>
                                                        </div>
                                                        <div class="radio radiofill radio-inline">
                                                            <label>
                                                                <input id="Female" value="2" type="radio" name="radio"><i class="helper"></i> Female
                                                            </label>
                                                        </div>
                                                        <div class="radio radiofill radio-inline">
                                                            <label>
                                                                <input id="Couple" value="3" type="radio" name="radio"><i class="helper"></i> Couple
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Category Name</label>
                                            <div class="col-sm-8">
                                                <div id="divParentCategory" class="input-group m-b-sm" style="margin-bottom: 0;">
                                                    <input type="text" readonly class="form-control" value="Select Parent Category Name" id="inputCategory" aria-describedby="basic-addonRegion" />
                                                    @Html.Hidden("ValueParentCategory")
                                                    <span class="input-group-addon" id="basic-addonRegion" style="height: 37px;margin-top: 5px;">
                                                        <a id="refreshCategory" data-toggle="tooltip" data-placement="top" title="Refresh">
                                                            <i class="icofont icofont-recycle" style="margin:auto; padding-right:0px"></i>
                                                        </a>
                                                    </span>
                                                </div>
                                                <div id="divParentSearch" style="position: absolute; z-index: 1; background-color: #fff; margin-top:0px;">
                                                    <input type="text" id="searchCategory" placeholder="Tìm kiếm" class="form-control" style="margin-top:0px" />
                                                    <div data-spy="scroll" style="max-height:150px;overflow:scroll;  background-color: #fff;width: 100%;" id="ParentCategory-tree"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Product Name</label>
                                            <div class="col-sm-8">
                                                <select id="ProductId" name="ProductId" class="js-example-responsive"></select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Product Size</label>
                                            <div class="col-sm-8">
                                                @*<input type="text" class="form-control" placeholder="Product Size">*@
                                                @Html.EditorFor(model => model.Size, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Size, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Input Price</label>
                                            <div class="col-sm-8">
                                                @*<input type="text" class="form-control" placeholder="Product Size">*@
                                                @Html.EditorFor(model => model.InputPrice, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                                                @Html.ValidationMessageFor(model => model.InputPrice, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Number Import</label>
                                            <div class="col-sm-8">
                                                @Html.EditorFor(model => model.NumberOfImport, new { htmlAttributes = new { @class = "form-control", @min = "0" } })
                                                @Html.ValidationMessageFor(model => model.NumberOfImport, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Number Remaining </label>
                                            <div class="col-sm-8">
                                                @Html.EditorFor(model => model.NumberOfRemaining, new { htmlAttributes = new { @class = "form-control", @min = "0" } })
                                                @Html.ValidationMessageFor(model => model.NumberOfRemaining, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div>
                                            <hr />
                                            <button id="btnSave" class="btn btn-primary" style="float:right"><i class="ti-import"></i> Save</button>
                                        </div>
                                    }

                                </div>
                            </div>
                            <div class="tab-pane" id="ListNumberProduct" role="tabpanel">
                                <div class="row m-b-20">
                                    <div class="col-sm-8">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Gender</label>
                                            <div class="col-sm-8">
                                                <div class="form-radio">
                                                    <div id="GenderRadio_list" class="group-add-on">
                                                        <div class="radio radiofill radio-inline">
                                                            <label>
                                                                <input a id="Male_list" value="1" type="radio" name="radio_list" checked=""><i class="helper"></i> Male
                                                            </label>
                                                        </div>
                                                        <div class="radio radiofill radio-inline">
                                                            <label>
                                                                <input id="Female_list" value="2" type="radio" name="radio_list"><i class="helper"></i> Female
                                                            </label>
                                                        </div>
                                                        <div class="radio radiofill radio-inline">
                                                            <label>
                                                                <input id="Couple_list" value="3" type="radio" name="radio_list"><i class="helper"></i> Couple
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Category Name</label>
                                            <div class="col-sm-8">
                                                <div id="divParentCategory_list" class="input-group m-b-sm" style="margin-bottom: 0;">
                                                    <input type="text" readonly class="form-control" value="Select Parent Category Name" id="inputCategory_list" aria-describedby="basic-addonRegion" />
                                                    @Html.Hidden("ValueParentCategory_list")
                                                    <span class="input-group-addon" id="basic-addonRegion" style="height: 37px;margin-top: 5px;">
                                                        <a id="refreshCategory_list" data-toggle="tooltip" data-placement="top" title="Refresh">
                                                            <i class="icofont icofont-recycle" style="margin:auto; padding-right:0px"></i>
                                                        </a>
                                                    </span>
                                                </div>
                                                <div id="divParentSearch_list" style="position: absolute; z-index: 1; background-color: #fff; margin-top:0px;">
                                                    <input type="text" id="searchCategory_list" placeholder="Tìm kiếm" class="form-control" style="margin-top:0px" />
                                                    <div data-spy="scroll" style="max-height:150px;overflow:scroll;  background-color: #fff;width: 100%;" id="ParentCategory-tree_list"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<input type="text" id="myInputSearch" class="form-control" placeholder="Search for names.." title="Type in a name">*@
                                <hr />

                                <table id="tableWarehouse" class="table  table-striped table-bordered nowrap" style=" width:100%">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Category Name</th>
                                            <th>Product Name</th>
                                            <th>Size</th>
                                            <th>Input Price</th>
                                            <th>Number Import</th>
                                            <th>Number Remaining</th>
                                            <th>Date Create</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    @*<tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Áo Thun</td>
                                                <td>Nam</td>
                                                <td>Áo</td>
                                                <td>Active</td>
                                                <td class="dropdown">

                                                </td>
                                            </tr>
                                        </tbody>*@
                                </table>

                            </div>
                        </div>
                    </div>

                </div>
                <!-- Row end -->
            </div>
        </div>
        <!-- Tab variant tab card start -->
    </div>
</div>
