@using PagedList;
@using Shop.Models;
@using PagedList.Mvc;

@model IPagedList<Shop.Models.GetProductShopByCategoryId_Result>
@if (Model != null)
{
    <div class="flex-w flex-sb-m p-b-52">
        <div class="flex-w flex-l-m filter-tope-group m-tb-10">
            <h4>
                List of products
            </h4>
        </div>

        <div class="flex-w flex-c-m m-tb-10">
            @*<div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
                <i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
                <i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                Filter
            </div>*@

            <div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
                <i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
                <i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                Search
            </div>
        </div>

        <!-- Search product -->
        <div class="dis-none panel-search w-full p-t-10 p-b-15">
            <div class="bor8 dis-flex p-l-15">
                <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
                    <i class="zmdi zmdi-search"></i>
                </button>

                <input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product" id="search-product" placeholder="Search">
            </div>
        </div>

        <!-- Filter -->
        <div class="dis-none panel-filter w-full p-t-10">
            <div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
                <div class="filter-col1 p-r-15 p-b-27">
                    <div class="mtext-102 cl2 p-b-15">
                        Sort By
                    </div>

                    <ul>
                        <li class="p-b-6">
                            <a href="" class="filter-link stext-106 trans-04">
                                Default
                            </a>
                        </li>

                        <li class="p-b-6">
                            <a href="" class="filter-link stext-106 trans-04">
                                Popularity
                            </a>
                        </li>

                        <li class="p-b-6">
                            <a class="filter-link stext-106 trans-04">
                                Average rating
                            </a>
                        </li>

                        <li class="p-b-6">
                            <a class="filter-link stext-106 trans-04 filter-link-active">
                                Newness
                            </a>
                        </li>

                        <li class="p-b-6">
                            <a href="" class="filter-link stext-106 trans-04">
                                Price: Low to High
                            </a>
                        </li>

                        <li class="p-b-6">
                            <a href="#" class="filter-link stext-106 trans-04">
                                Price: High to Low
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="filter-col2 p-r-15 p-b-27">
                    <div class="mtext-102 cl2 p-b-15">
                        Price
                    </div>

                    <ul>
                        <li class="p-b-6">
                            <a href="#" class="filter-link stext-106 trans-04 filter-link-active">
                                All
                            </a>
                        </li>

                        <li class="p-b-6">
                            <a href="#" class="filter-link stext-106 trans-04">
                                $0.00 - $50.00
                            </a>
                        </li>

                        <li class="p-b-6">
                            <a href="#" class="filter-link stext-106 trans-04">
                                $50.00 - $100.00
                            </a>
                        </li>

                        <li class="p-b-6">
                            <a href="#" class="filter-link stext-106 trans-04">
                                $100.00 - $150.00
                            </a>
                        </li>

                        <li class="p-b-6">
                            <a href="#" class="filter-link stext-106 trans-04">
                                $150.00 - $200.00
                            </a>
                        </li>

                        <li class="p-b-6">
                            <a href="#" class="filter-link stext-106 trans-04">
                                $200.00+
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="filter-col3 p-r-15 p-b-27">
                    <div class="mtext-102 cl2 p-b-15">
                        Color
                    </div>

                    <ul>
                        <li class="p-b-6">
                            <span class="fs-15 lh-12 m-r-6" style="color: #222;">
                                <i class="zmdi zmdi-circle"></i>
                            </span>

                            <a href="#" class="filter-link stext-106 trans-04">
                                Black
                            </a>
                        </li>

                        <li class="p-b-6">
                            <span class="fs-15 lh-12 m-r-6" style="color: #4272d7;">
                                <i class="zmdi zmdi-circle"></i>
                            </span>

                            <a href="#" class="filter-link stext-106 trans-04 filter-link-active">
                                Blue
                            </a>
                        </li>

                        <li class="p-b-6">
                            <span class="fs-15 lh-12 m-r-6" style="color: #b3b3b3;">
                                <i class="zmdi zmdi-circle"></i>
                            </span>

                            <a href="#" class="filter-link stext-106 trans-04">
                                Grey
                            </a>
                        </li>

                        <li class="p-b-6">
                            <span class="fs-15 lh-12 m-r-6" style="color: #00ad5f;">
                                <i class="zmdi zmdi-circle"></i>
                            </span>

                            <a href="#" class="filter-link stext-106 trans-04">
                                Green
                            </a>
                        </li>

                        <li class="p-b-6">
                            <span class="fs-15 lh-12 m-r-6" style="color: #fa4251;">
                                <i class="zmdi zmdi-circle"></i>
                            </span>

                            <a href="#" class="filter-link stext-106 trans-04">
                                Red
                            </a>
                        </li>

                        <li class="p-b-6">
                            <span class="fs-15 lh-12 m-r-6" style="color: #aaa;">
                                <i class="zmdi zmdi-circle-o"></i>
                            </span>

                            <a href="#" class="filter-link stext-106 trans-04">
                                White
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="filter-col4 p-b-27">
                    <div class="mtext-102 cl2 p-b-15">
                        Tags
                    </div>

                    <div class="flex-w p-t-4 m-r--5">
                        <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                            Fashion
                        </a>

                        <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                            Lifestyle
                        </a>

                        <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                            Denim
                        </a>

                        <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                            Streetstyle
                        </a>

                        <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                            Crafts
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row isotope-grid">
        @foreach (GetProductShopByCategoryId_Result product in Model)
        {
            <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item men">
                <!-- Block2 -->
                <div class="block2">
                    <div class="block2-pic hov-img0">
                        <img src="../../@product.ImageLink" alt="IMG-PRODUCT" width="195" height="241">

                        <a href="" data-id="@product.Id" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
                            Quick View
                        </a>
                    </div>

                    <div class="block2-txt flex-w flex-t p-t-14">
                        <div class="block2-txt-child1 flex-col-l ">
                            <a target="_blank" href="@Url.Action("Details","Home", new { id = product.Id })" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                @product.ProductName
                            </a>

                            <span class="stext-105 cl3">
                                @product.NewPrice.Value.ToString("#,##0") VNĐ
                            </span>
                        </div>

                        <div class="block2-txt-child2 flex-r p-t-3">
                            <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                <img class="icon-heart1 dis-block trans-04" src="~/assets_client/images/icons/icon-heart-01.png" alt="ICON">
                                <img class="icon-heart2 dis-block trans-04 ab-t-l" src="~/assets_client/images/icons/icon-heart-02.png" alt="ICON">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <style>

        .pagination li a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
        }

        .pagination li.active {
            background-color: #1abc9c;
            color: white;
        }

        .pagination li:hover:not(.active) {
            background-color: #ddd;
        }
    </style>
    <div class="flex-c-m flex-w w-full p-t-45">
        @Html.PagedListPager(Model, page => Url.Action("GetProductCategoryId", new { page }),
                       new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })
    </div>
   


}
<script>
    var type = '@ViewBag.Type'
    var categoryid = '@ViewBag.CategoryId'
    var RenderContentProduct = function (data) {
        $("#mymodal1").empty();
        $("#mymodal1").append(data)

        $('.js-modal1').addClass('show-modal1');
    }
    $(".js-show-modal1").click(function (e) {
        e.preventDefault();
        //debugger;
        var $buttonClicked = $(this);
        var id = $buttonClicked.attr('data-id');
        var options = { "backdrop": "static", keyboard: true };
        $.ajax({
            type: "GET",
            url: '/Home/GetProductByIdModal',
            contentType: "application/json; charset=utf-8",
            data: { "Id": id },
            datatype: "json",
            success: function (data) {
                //debugger;
                RenderContentProduct(data);
            },
            error: function () {
                alert("Dynamic content load failed.");
            }
        });
    });
    $(".pagination li a").on('click', function (e) {
        e.preventDefault();
        if (!($(this).parent().hasClass('active'))) {
            var href = $(this).attr("href")
            var search = $("#search_product").val()
            $.ajax({
                type: "GET",
                url: href,
                contentType: "application/json; charset=utf-8",
                data: { "type": type, "categoryid": categoryid, "searchString": search },
                success: function (data) {
                    //debugger;
                    $("#contentFrame").html(data)
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            })
        }
    })
    $('.js-show-filter').on('click', function () {
        $(this).toggleClass('show-filter');
        $('.panel-filter').slideToggle(400);

        if ($('.js-show-search').hasClass('show-search')) {
            $('.js-show-search').removeClass('show-search');
            $('.panel-search').slideUp(400);
        }
    });

    $('.js-show-search').on('click', function () {
        $(this).toggleClass('show-search');
        $('.panel-search').slideToggle(400);

        if ($('.js-show-filter').hasClass('show-filter')) {
            $('.js-show-filter').removeClass('show-filter');
            $('.panel-filter').slideUp(400);
        }
    });

    $("#search-product").on("keyup", function () {
        var isotopeButton = $('.filter-tope-group button');
        var textClass = ''
        $(isotopeButton).each(function (index, item) {
            if (item.classList.contains('how-active1')) {
                var filterValue = $(this).attr('data-filter');
                if (filterValue === '*') {
                    textClass = '.isotope-item'
                    //console.log(textClass+'1');
                }
                else {
                    textClass = filterValue
                    //console.log(textClass + '2');
                }

            }

        });

        var g = $(this).val().toLowerCase();
        $(textClass + " .block2 .block2-txt .block2-txt-child1 .stext-104").each(function () {
            var s = $(this).text().toLowerCase();
            var i = s.indexOf(g);
            if (i === -1) {
                $(this).closest('.isotope-item').css('display', 'none');
            }
            else {
                $(this).closest('.isotope-item').css('display', 'block')
            }
            var $grid = $('.isotope-grid').each(function () {
                $(this).isotope({
                    itemSelector: '.isotope-item',
                    layoutMode: 'fitRows',
                    percentPosition: true,
                    animationEngine: 'best-available',
                    masonry: {
                        columnWidth: '.isotope-item'
                    }
                });
            });
        });
    });
    $("#btn_search_product").on("click", function () {
        var search = $("#search_product").val()
        $.ajax({
            type: "GET",
            url: "/Home/GetProductCategoryId",
            contentType: "application/json; charset=utf-8",
            data: { "type": type, "categoryid": categoryid, "searchString": search },
            success: function (data) {
                //debugger;
                $("#contentFrame").html(data)
            },
            error: function () {
                alert("Dynamic content load failed.");
            }
        })
    })
    //$(".bor18").on("click", function (e) {
    //    e.preventDefault();
    //    console.log($(this).closest("li").find("[class^='menu-child']").slideToggle())
    //    //$(this).closest("li").find("[class^='menu-child']").slideToggle();
    //})
</script>

