@model Shop.Models.Blog
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section JavaScript {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/assets/pages/blog/ckeditor/ckeditor.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    @Scripts.Render("~/assets/page/blog/js")
}

<div class="row">
    <div class="col-sm-12">
        <!-- Tab variant tab card start -->
        <div class="card">
            <div class="card-header">
                <h5>Blog</h5>
                <div class="card-header-right">
                    <i class="icofont icofont-refresh"></i>
                </div>
            </div>
            <div class="card-block tab-icon">
                <!-- Row start -->
                <div class="row">
                    <div class="col-lg-12 col-xl-12">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs md-tabs " role="tablist">
                            <li class="nav-item" style="width:50%">
                                <a class="nav-link active" data-toggle="tab" href="#CreateBlog" role="tab"><i class="ti-pencil-alt"></i><h5>Create Blog</h5></a>
                                <div class="slide" style="width:50%"></div>
                            </li>
                            <li class="nav-item" style="width:50%">
                                <a class="nav-link" data-toggle="tab" href="#ListBlog" role="tab"><i class="ti-menu-alt"></i><h5>List Blog</h5></a>
                                <div class="slide" style="width:50%"></div>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content card-block">
                            <div class="tab-pane active" id="CreateBlog" role="tabpanel">
                                <div class="col-sm-8" style="margin:auto">
                                    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "myFromBlog", @class = "validateDontSubmit" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="form-horizontal">
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.BlogName, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.BlogName, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.BlogName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Photo, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.Photo, new { htmlAttributes = new { @type = "file", @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Photo, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Tag, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.DropDownList("Tag", (SelectList)ViewBag.Tag as IEnumerable<SelectListItem>, " ", new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.Tag, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.TextAreaFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                                                </div>
                                            </div>


                                            <div>
                                                <hr />
                                                <button id="btnSave" class="btn btn-primary" style="float:right"><i class="ti-import"></i>Save</button>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                            <button class="btn btn-danger"><i class="icofont icofont-eye-alt"></i>Danger Button</button>
                            @*@Html.Raw("<p>&aacute;da</p>").ToString().l*@
                            <div class="tab-pane" id="ListBlog" role="tabpanel">
                                <div class="data_table_main table-responsive dt-responsive">
                                    <table id="table_Blog" class="table  table-striped table-bordered nowrap">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Blog Name</th>
                                                <th>Photo</th>
                                                <th>Tag</th>
                                                <th>Employee Create</th>
                                                <th>Time Create</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        @*<tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Áo</td>
                                                    <td>Áo Thun</td>
                                                    <td>Nam</td>
                                                    <td align="center">S</td>
                                                    <td align="center">50</td>
                                                    <td class="dropdown">
                                                        <button type="button" class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-hand-point-down" aria-hidden="true"></i></button>
                                                        <div class="dropdown-menu dropdown-menu-right b-none contact-menu">
                                                            <a class="dropdown-item" href="#!" data-toggle="modal" data-target="#myEditCustomer"><i class="icofont icofont-edit"></i>Edit</a>
                                                            <a class="dropdown-item" href="#!"><i class="icofont icofont-ui-delete"></i>Delete</a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>*@
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Row end -->
            </div>
        </div>
        <!-- Tab variant tab card start -->
    </div>
</div>

<!---- Modal Delete---->
<div class="modal fade" id="my_modal" tabindex="-1" role="dialog" aria-labelledby="my_modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Notification</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                Do you want delete record???<br />
                <input type="hidden" name="hiddenValue" id="hiddenValue" value="" />
            </div>
            <div class="modal-footer">
                <button id="btn_OK1" type="button" class="btn btn-primary">OK</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!---- Modal Delete---->
<!--Modal Change Product-->
<div class="modal fade" id="my_modal_EditBlog" tabindex="-1" role="dialog" aria-labelledby="my_modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Change Blog</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "myFromBlog_change", @class = "validateDontSubmit" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="modal-body row">
                    <input type="hidden" name="hiddenValue_change" id="hiddenValue_change" value="" />
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.BlogName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.BlogName, new { htmlAttributes = new { @id = "blogname_change", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.BlogName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Photo, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Photo, new { htmlAttributes = new { @type = "file", @class = "form-control" }, @id = "file_change" })
                                @Html.ValidationMessageFor(model => model.Photo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Tag, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("Tag", (SelectList)ViewBag.Tag as IEnumerable<SelectListItem>, " ", new { @id = "tag_change", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Tag, "", new { @class = "text-danger" })
                            </div>
                        </div>


                    </div>
                    <div class="col-md-6">
                        <h6>Image of Blog</h6>
                        <div class="row" id="viewImageBlog_change">
                            @*<div class="col-xl-4 col-lg-6 col-sm-6 col-xs-12">
                                    <a href="~/assets/images/light-box/l1.jpg" data-toggle="lightbox" data-gallery="example-gallery">
                                        <img src="~/assets/images/light-box/sl1.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>*@
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" }, @id = "content_change", @name = "content_change" })
                            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>


                <div class="modal-footer">
                    <button id="btn_Save_Blog" type="button" class="btn btn-primary"><i class="ti-import"></i>Save</button>
                    <button id="btn_Cancel_Blog" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            }
        </div>
    </div>
</div>
<!--Modal Change Product-->
